<h1>Game Details</h1>

<div class="presentation">
  <p>Creator: <%= @game.creator.username %></p>
  <p>Opponent: <%= @game.opponent&.username || "Waiting for an opponent" %></p>
  <p>Status: <%= @game.status %></p>
  <p>Current Player: <%= @game.current_player&.username || "Waiting for players to join" %></p>
</div>

<div class="container-board">
  <h2>Your Board</h2>
  <div id="player-board" data-game-id="<%= @game.id %>"></div>
</div>

<div id="ship-selection" class="ship-selection" style="margin-top: 20px;">
  <% @ships.each do |ship| %>
    <div class="ship" 
         draggable="true" 
         data-name="<%= ship[:name] %>"
         data-size="<%= ship[:size] %>" 
         style="width: <%= ship[:size] * 40 %>px;">
      <%= ship[:name] %> (<%= ship[:size] %>)
    </div>
  <% end %>
</div>
