<!DOCTYPE html>
<html>
  <head>
    <title>NavalBattleGameBlockchain</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <!-- Flash Messages -->
    <!--flash.each: Loops through all the flash messages (e.g., :notice, :alert) and displays them. -->
    <% flash.each do |key, message| %>
      <div class="flash <%= key %>">
        <%= message %>
      </div>
    <% end %>
    <% if user_signed_in? %>
      <p>Welcome, <%= current_user.username %>!</p>
      <%= button_to "Sign_out", destroy_user_session_path, :method => 'delete', data:{turbo: "false"} %> 
      <%# <%= link_to 'Logout', destroy_user_session_path, method: :delete, data:{turbo_mehod: :delete} %> 


    <% else %>
      <%= link_to "Sign Up", new_user_registration_path %> |
      <%= link_to "Log In", new_user_session_path %>
    <% end %>
    <%= yield %>
  </body>
</html>
